<h2>Lista de posts: </h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova postagem</button></a>


{{#each postagens}}
    <div class="card">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p><strong>Descrição:</strong>  {{descrição}}</p>
            <small>Data: {{data}}</small><br>
            <small>categoria: {{categoria.nome}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-3">Editar postagem</button></a>
            <form action="/admin/postagem/deletar" method="POST">
            <input type="hidden" name="id" value="{{_id}}">   
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-danger mt-3">Deletar postagem</button></a>
            </form>
        </div>
    </div>
{{else}}
<h5 class="mt-3">Nenhuma categoria resgistrada</h5>
{{/each}}